<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1>Airline application</h1>
    <form action="#" th:action="@{/search}" th:object="${searchForm}" method="post">
        <label for="departureDate">Departure Date:</label>
        <input type="date" id="departureDate" name="departureDate" th:value="${{depDate}}"/>
        <br />
        <br />

        <label for="from">From</label>
        <input id="from" name="from" required="required" />
        <br />
        <br />
        <label for="to">To</label>
        <input id="to" name="to" required="required" />
        <br />
        <br />
        <input type="submit" value="Search" />
    </form>
</body>

</html>