<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <title>Title</title>
</head>

<body>
    <h1>Airline application</h1>

    <form action="#" th:action="@{/search}" th:object="${searchForm}" method="post">
        <label for="departureDate">Departure Date:</label>
        <input type="date" id="departureDate" name="departureDate" th:value="${{depDate}}"/>
        <br />
        <label>No of Passengers</label>
        <input type="number" id="passengerCount" name="passengerCount" required="required">
        <br/>
        <br/>
        <label th:for="seatType">Seat Class</label>
        <select th:name="seatType" th:id="seatType">
            <option th:each="i : ${seatTypes}" th:value="${i}" th:selected="${i==ECONOMIC}" th:text="${i}">
            </option>
        </select>
        <br/>
        <br />
        <label for="from">From</label>
        <input id="from" name="from" required="required" />
        <br />
        <br />
        <label for="to">To</label>
        <input id="to" name="to" required="required" />
        <br />
        <br />
        <input type="submit" value="Search" />
    </form>

</body>

</html>