<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
</head>

<body>
    <h1>Airline application</h1>
    <p th:if="${error == null}">Showing flights on [(${depDate})]</p>
    <table class="table" border="1">
        <th>Number</th>
        <th>From</th>
        <th>To</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Available Seats</th>
        <tr th:each="flight:${flights}">
            <form method="post" th:action="@{/book}" th:object="${flight}">
            <td th:text="${flight.number}"></td>
            <td th:text="${flight.source}"></td>
            <td th:text="${flight.destination}"></td>
            <td th:text="${flight.departureTime}"></td>
            <td th:text="${flight.arrivalTime}"></td>
            <div th:switch="${seatType}">
                <td th:case="ECONOMIC">[(${flight.economySeats})]</td>
                <td th:case="FIRST_CLASS">[(${flight.firstClass})]</td>
                <td th:case="SECOND_CLASS">[(${flight.secondClass})]</td>
            </div>
            <td>
                <input type="hidden" id="passengerCount" name="passengerCount" th:value="${passengerCount}" >
                <input type="hidden" th:name="flightId" id="flightId" th:value="${flight.number}" />
                <button class="btn btn-success" type="submit" name="book" value="value">Book</button>
            </td>
            </form>
        </tr>
    </table>
    <p class="alert alert-danger" th:if="${error != null}" th:text="${error}"></p>
    <br />
    <a th:href="@{/}">Home</a>
</body>

</html>